<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simple_Screen_Recorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Simple_Screen_Recorder.Properties.Settings>
            <setting name="Languages" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="SelectedCodec" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedFramerate" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedBitrate" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioSourceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioRecordingSourceIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </Simple_Screen_Recorder.Properties.Settings>
    </userSettings>
</configuration>